.my-alert2 {
  background-color: #eeeeee;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  margin: auto;
  background-color: #ffe591;
}

.buy-btn {
  margin-bottom: 10px;
}

.btn-td {
  display: flex;
  justify-content: space-evenly;
}
